@use "sass:list";
@use "../../styles/global" as *;

$types: (
    management: (var(--color-border-management), var(--color-text-management)),
    programming: (var(--color-border-programming), var(--color-text-programming)),
    blogging: (var(--color-border-blogging), var(--color-text-blogging)),
    consulting: (var(--color-border-consulting), var(--color-text-consulting))
);

.section-portfolio {
    @include section-indent;
}

.portfolio {
    display: flex;
    gap: $base * 10;
}

.portfolio__column {
    flex-basis: 24%;

    &_order-3 {
        flex-grow: 1;
    }

    &-heading {
        margin-bottom: $base * 5;
        font-family: $font-family-heading;
        font-size: rem(20px);
        font-weight: $font-weight-500;
        color: var(--color-text-secondary-heading);
        text-transform: uppercase;
    }
}

.portfolio-skills-list,
.portfolio-projects-list {
    display: flex;
    flex-direction: column;
}

.portfolio-content,
.portfolio-project {
    font-size: $font-size-s;
    line-height: $line-height-s;
}

.portfolio-tab {
    $this: &;

    position: relative;
    display: flex;
    gap: $base * 2;
    padding: $base * 3 $base * 4;
    margin-bottom: -2px;
    font-size: $font-size-s;
    font-weight: $font-weight-500;
    line-height: $line-height-s;
    color: var(--color-text-primary);
    text-align: left;
    cursor: pointer;
    background: transparent;
    border-top: 2px solid var(--primary);
    border-right: 2px solid transparent;
    border-bottom: 2px solid var(--primary);
    border-left: none;
    transition: background-color $transition-duration, color $transition-duration;

    &:not(&_status-active):hover {
        background-color: var(--color-bg-level-1);
    }

    &__icon {
        transform-origin: center bottom;
    }

    &__label { display: block; }

    &_status-active {
        #{$this}__icon { animation: wiggle-animation 1s ease; }

        &::before {
            position: absolute;
            top: 50%;
            right: -6px;
            display: block;
            width: 10px;
            height: 10px;
            content: "";
            background: var(--color-bg-level-0);
            border-top: 2px solid var(--primary);
            border-right: 2px solid var(--primary);
            transform: translateY(-50%) rotate(45deg);
        }
    }
}

@mixin details-block {
    padding-top: $base * 4;
    border-top: 2px solid var(--primary);
}

.portfolio-content {
    @include article-typo;
    @include details-block;

    &__video-gallery {
        display: grid;
        grid-template-columns: repeat(3, 30%);
        gap: $base * 5 5%;
        margin-top: $gap;
    }

    &__video-item {
        background-color: var(--primary);
        border: 2px solid var(--color-text-primary);

        video {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__image {
        float: right;
        margin-bottom: $gap;
        margin-left: $gap;
    }
}

.portfolio-project {
    @include article-typo;
    @include details-block;

    &__name {
        font-size: $font-size-m;
        font-weight: $font-weight-500;
        line-height: $line-height-m;
        
    }

    &__gallery {
        display: grid;
        flex-wrap: wrap;
        grid-template-columns: repeat(3, 30%);
        gap: $base * 10 5%;
        align-items: flex-start;
    }
}

.custom-select {
    position: relative;
    display: none;
    overflow: hidden;

    &__list {
        width: 100%;
        padding: $base * 3 $base * 10 $base * 3 $base * 4;
        font-size: $font-size-s;
        font-weight: $font-weight-500;
        line-height: $line-height-s;
        color: var(--color-text-primary);
        appearance: none;
        background: transparent;
        border: 2px solid var(--primary);
    }

    &__icon {
        position: absolute;
        top: 50%;
        right: $base * 4;
        z-index: -1;
        color: var(--primary);
        transform: translateY(-50%);
    }
}

@each $type, $colors in $types {
    .portfolio_#{$type} .portfolio-tab_status-active {
        z-index: 2;
        color: list.nth($colors, 2);

        &, &::before {
            border-color: list.nth($colors, 1);
        }
    }
}

@keyframes wiggle-animation {
    0% { transform: rotate(0deg); }
    20% { transform: rotate(-7deg); }
    40% { transform: rotate(7deg); }
    60% { transform: rotate(-3deg); }
    80% { transform: rotate(3deg); }
    100% { transform: rotate(0deg); }
}

@media (max-width: $screen-md-max) {
    .portfolio-content__video {
        width: auto !important;
        max-width: 50%;
        height: auto !important;

        iframe { height: auto !important; }
    }

    .portfolio { gap: $base * 5; }
    .portfolio__column_order-1 { flex-basis: auto; }
    
    .portfolio__column-heading,
    .portfolio .badges,
    .portfolio-skills-list .portfolio-tab__label { display: none; }
}

@media (max-width: $screen-sm-max) {
    .portfolio { flex-direction: column; }

    .portfolio__column-heading { margin-bottom: $base * 2; }

    .portfolio__column-heading,
    .custom-select { display: block; }

    .portfolio-skills-list,
    .portfolio-projects-list { display: none; }
}


