@use "../../styles/global" as *;

$local-transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);

.section-timeline {
    @include section-indent;

    overflow: hidden;
}

.timeline-years {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1px;
    margin: 0 $base * 10;
    border-left: 1px dashed var(--color-gray-500);

    &__item {
        padding-right: $base * 2;
        padding-left: $base * 2;
        font-size: $font-size-xs;
        line-height: 48px;
        background-color: var(--color-bg-level-0);
        border: 2px dashed var(--primary);
        border-radius: 10px;

        &:last-child {
            margin-bottom: 0 !important;
        }
    }
}

.timeline-item {
    $this: &;

    position: absolute;
    right: 0;
    left: 0;
    display: flex;
    gap: $gap;
    opacity: 0;

    &__range { color: var(--primary); }
    &__content { flex: 1; }
    &__image, &__video { max-width: 40%; }

    &__heading {
        font-size: $font-size-m;
        font-weight: $font-weight-600;
    }
    
    &__subheading {
        margin-top: $base;
        font-size: $font-size-s;
        font-weight: $font-weight-400;
        color: var(--color-gray-500);
    }
    
    &__description {
        padding: 0;
        margin: 0;
        font-size: $font-size-s;
        line-height: $line-height-s;
        
        &:not(:first-child) {
            margin-top: $base * 2;
        }
    }

    &.timeline-item_type-point {
        z-index: 5;
        padding-left: $base * 2;
    }

    &_level-1 .range { margin-right: $base * 4;}
    &_level-2 .range { margin-right: $base * 8;}
}

.timeline {
    display: flex;

    &-left,
    &-right {
        position: relative;
        flex: 1;
    }

    &-left {
        align-items: flex-end;

        .timeline-item__image,
        .timeline-item__video,
        .timeline-item__content { align-self: flex-start; }

        .timeline-item__content { order: 2; }
        .timeline-item__point { order: 3; }
        .timeline-item__range { order: 3; }
        .timeline-item__image { order: 1; }
        .timeline-item__video { order: 1; }

        .center-level-0 {
            opacity: 1;
            transition: opacity 0.2s $local-transition-timing-function;
        }

        .center-level-1 {
            opacity: .8;
            transition: opacity 0.45s $local-transition-timing-function;
        }

        .center-level-2 {
            opacity: .4;
            transition: opacity 0.6s $local-transition-timing-function;
        }

        .center-level-3 {
            opacity: 0;
            transition: opacity 0.75s $local-transition-timing-function;
        }
    }

    &-right {
        .timeline-item {
            transform: translateX(90px);
        }

        .timeline-item__image,
        .timeline-item__video,
        .timeline-item__point,
        .timeline-item__content { align-self: center; }

        .timeline-item__content { order: 2; }
        .timeline-item__point { order: 1; }
        .timeline-item__range { order: 1; }
        .timeline-item__image { order: 3; }
        .timeline-item__video { order: 3; }

        .center-level-0 {
            opacity: 1;
            transition: transform 0.2s $local-transition-timing-function, opacity 0.2s $local-transition-timing-function;
            transform: translateX(0);
        }

        .center-level-1 {
            opacity: 0.6;
            transition: transform 0.45s $local-transition-timing-function, opacity 0.45s $local-transition-timing-function;
            transform: translateX(20px);
        }
        
        .center-level-2 {
            opacity: 0.3;
            transition: transform 0.6s $local-transition-timing-function, opacity 0.6s $local-transition-timing-function;
            transform: translateX(50px);
        }
        
        .center-level-3 {
            opacity: 0;
            transition: transform 0.75s $local-transition-timing-function, opacity 0.75s $local-transition-timing-function;
            transform: translateX(90px);
        }
    }
}

.timeline-filters {
    $border-radius: 100px;

    position: relative;
    z-index: 5;
    display: flex;
    gap: $base * 3;
    max-width: 70%;
    padding: 0;
    margin: 0 auto $base * 10;
    background-color: var(--color-bg-tabs);
    border-radius: $border-radius;

    &__item {
        position: relative;
        flex: 1;
        padding: $base * 4;
        margin: 0;
        overflow: hidden;
        font-size: $font-size-xs;
        font-weight: $font-weight-600;
        color: var(--color-text-primary);
        text-align: center;
        text-transform: uppercase;
        cursor: pointer;
        background: none;
        border: 0;
        border-radius: $border-radius;
    
        &_status-active {
            color: var(--color-black-800);
            background-color: var(--primary);
        }
    
        &::before {
            position: absolute;
            inset-inline-end: 0;
            top: 0;
            z-index: -1;
            width: 0;
            height: 100%;
            content: "";
            background: var(--primary);
            border-radius: $border-radius;
            transition: $transition-duration;
        }
    
        &:hover {
            color: var(--color-black-800);
    
            &::before {
                inset-inline: 0% auto;
                width: 100%;
            }
        }
    }
}

@media (max-width: $screen-sm-max) {
    .timeline-filters {
        max-width: 100%;

        &__item { flex: auto;}
    }

    .timeline-item__image,
    .timeline-item__video { display: none; }

    .timeline-years__item {
        padding-right: $base;
        padding-left: $base;
    }

    .timeline-years {
        margin-right: $base * 7;
        margin-left: $base * 7;
    }

    .timeline__item {
        gap: $base * 3;
    }
}

@media (max-width: $screen-md-max) {
    .timeline-item__heading {
        font-size: $font-size-xs;
        line-height: $line-height-xs;
    }

    .timeline-item__subheading,
    .timeline-item__description {
        font-size: $font-size-xxs;
        line-height: $line-height-xxs;
    }
}
