@use "../../styles/global" as *;

.circle-progress-bar {
    display: block;
}

.circle-background,
.circle-progress {
    fill: none;
}

.circle-background {
    stroke: var(--color-bg-aside-btn);
}

.circle-progress {
    stroke: var(--color-border-active-aside-btn);
    stroke-linecap: round;
    stroke-linejoin: round;
}
